<h1>Here to Register</h1>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="row">
  
    <!-- Sign-Up Card-->
    <div class="col-lg-6">
      <div class="card card-default">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">

            <form action="/register" method= "POST">
              <!--<div class="form-group row">
                  <label for="name">Name:</label>
                  <input class="form-control" type="name" id="name" name="name">
                </div>-->

                  <div class="form-group row">
                    <label for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="email">
                  </div>
                  
                  <div class="form-group row">
                    <label for="password">Password:</label>
                    <input class="form-control" id="password" name="password">
                  </div>
                  <button action="POST" type="submit">Register</button>

            </form>
            
          </div>
        </div>
    </div>

</div>